# URL Backend (Express.js)
NEXT_PUBLIC_API_URL=https://backendcapstone.sayadewe.my.id/api
local=http://localhost:5000/api

# Jika tim AI/DS punya endpoint terpisah (opsional)
NEXT_PUBLIC_AI_SERVICE_URL=

# Versi Aplikasi (untuk tracking saat presentasi)
NEXT_PUBLIC_APP_VERSION=

# Client Oauth
NEXT_PUBLIC_OAUTH_CLIENT_ID=