# URL Backend (Express.js)
NEXT_PUBLIC_API_URL=

# Jika tim AI/DS punya endpoint terpisah (opsional)
NEXT_PUBLIC_AI_SERVICE_URL=

# Versi Aplikasi (untuk tracking saat presentasi)
NEXT_PUBLIC_APP_VERSION=